.header h1, h2{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #36b37f;
    margin: 24px 10px;
  }
  
  